h1{
	color:brown;

}
h2{
	margin-top:70px;
	color:brown;
}
body{
	margin:0 auto;
	width:1000px;
	
}

nav ul{
	list-style-type:none;
	padding:0; 
}
nav li{
 display:inline;
 float:left;
}
nav a:link,nav a:visited{
	background-color:orange;
	text-align:center;
	color:white;
	display:block;
	width:250px;
	padding:10px 0;
}
nav a:hover{
	background-color:green;
}
.photo{
	margin-left:30px;
	margin-top:10px;
float:right
}
header{
	background-image: url("images/.png");
	height:100px;
	margin-bottom:50px;

}
header h1{
	color:black;
	margin-left:30px;
	margin-right:30px;
	font-size:50px;
}